@import './index.css';

@layer utilities {
  body {
    overflow-x: hidden;
    background-color: var(--color-sidebar);
  }

  #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }

  ::-webkit-scrollbar-track {
    margin: 4px 0;
    background: transparent; /* Remove track background */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Only the scroller visible */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .content-bg {
    @apply w-full  bg-cover bg-center bg-welcome bg-fixed bg-no-repeat;
  }

  .home-bg {
    background-color: var(--color-sidebar);
    @apply rounded-md;
  }

  .main-btn {
    @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .side-btn {
    @apply bg-sidebar!  hover:bg-sidebar/70! active:bg-sidebar/50! outline-none! border-none!;
  }
  .danger-btn {
    @apply border-none! p-4 rounded-2xl bg-red-500! hover:bg-red-600! text-white! font-bold shadow-[0_4px_0_rgb(180,40,40)] active:translate-y-1 active:shadow-none transition-all;
  }

  .form-input {
    @apply w-full pr-10!  border-mauve! border-2! rounded-2xl outline! focus:border-dashed;
  }
  .form-icon {
    @apply w-12 h-12 rounded-full bg-mauve! flex justify-center items-center;
  }
  .form-button {
    @apply rounded-md bg-mauve! hover:bg-mauve/80! p-2 text-white! border-white! border-2! focus:border-3! shadow-none! outline-none!;
  }
  .magic-text {
    @apply relative bg-linear-to-r from-[#00f2fe] via-[#fe4f9d] to-[#ffd700] bg-clip-text text-transparent box-decoration-clone py-1 font-extrabold;
  }

  .magic-icon {
    background: linear-gradient(to right, #00f2fe, #fe4f9d, #ffd700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
